<div class="header-menu" style="
    margin-top: -40px;
    margin-left: 490px;
    position: absolute;
">
		<span id="additional_icons"></span>
		<span id="separator">&nbsp;|&nbsp;</span>
		<span>save .fountain: <a href="#" action="save-fountain"><img src="{{static_path}}gfx/icons/other/download.svg" class="icon small-icon" title="Download Fountain file" /></a></span>
		<span><a href="#" action="save-dropbox-fountain"><img src="{{static_path}}gfx/icons/other/dropbox.svg" class="icon small-icon" title="Upload Fountain file to Dropbox" /></a></span>
		<span><a href="#" action="save-gd-fountain"><img src="{{static_path}}gfx/icons/other/gd.svg" class="icon small-icon" title="Upload Fountain file to Google Drive" /></a></span>
	</div><div style="clear:both"/>
<textarea id="editor-textarea" placeholder="Write here! Right now!" class="to-the-bottom"></textarea>