<div class="header-menu" style="
    margin-top: -40px;
    margin-left: 490px;
    position: absolute;
">
	<span id="left-icons"></span>
	<span id="separator">&nbsp;|&nbsp;</span>
	<span id="right-icons"></span>
</div><div style="clear:both"/>